@font-face {
  font-family: 'BerzulisPizius';
  src: url('../font/Berzulis-PIZIUS.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Auth';
  src: url('../font/authentic-sans-130.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GINTO';
  src: url('../font/ABCGintoRoundedNordCondensed-Ultra-Trial.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  height: 100vh;
  background-color: #f2ff00;
  color: #fff;
  overflow: hidden;
}

.container {
  text-align: center;
  position: relative;
  z-index: 1;
}

#clickButton {
  font-size:2rem;
  color: #f2ff00;
  -webkit-text-stroke: 3px rgb(0, 255, 255);
  margin-bottom: 20px;
  border-radius: 5%;
  text-align: center;
  font-family: 'GINTO';
  background-color: rgb(255, 0, 238);
  border: 5px solid rgb(0, 255, 255);
  cursor: pointer;
  z-index: 2;
  position: relative;
}

.url-display {
  position: absolute; 

  font-size: 1rem;
  font-family: 'GINTO';
  color: rgb(0, 255, 242);
  z-index: 10;
}
#urlLink {

  font-family: 'GINTO';
  position: relative;
  top: 30vh; 
  left: 50%; 
  transform: translate(-50%, -50%);
  color: rgb(0, 255, 242);
  background-color: rgb(255, 0, 238);
  border: 5px sorgb(0, 238, 255), 255, 255);
  text-decoration: underline;
  text-align: center;
}

#explosionCanvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: 999; 
}

marquee{
  font-family: 'GINTO';
  font-size: 2em;
  color:rgb(255, 0, 238);
  -webkit-text-stroke: 2px #00e5ff;
  top
}


